:root {
    font-size: 16px;

    --accent-color: #ec008c;
    --body-text-color: #434343;
    --body-bg-color: #ffffff;
    --footer-bg-color: #01354a;
    --light-text-color: #ffffff;
    --news-subscribe-bg-color: #01354a;
    --search-form-bg-color: #ffffff;
    --social-bg-color: #3377b6;
    --lots-of-links-bg-color: #004e6d;
    --links-column-line: #23639f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

strong {
    font-weight: 600;
}
.scrolling {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}
.not-scrolling {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.nav-section {
    position: fixed;
    z-index: 42;
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    width: 100%;
    color: var(--light-text-color);
    transition: 0.5s;
}

.nav-container {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1rem;
}

.main-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.cart-user {
    display: flex;
    margin-left: 50px;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
}

.nav-container li {
    padding: 0 6px;
}
.logo-big {
    height: 80px;
    width: 80px;
    transition: 0.5s;
}
.logo-small {
    height: 40px;
    width: 40px;
    transition: 0.5s;
}
.logo-footer {
    height: 80px;
    width: auto;
}

.shopping-cart {
    float: left;
    padding-right: 6px;
    margin-right: 6px;
}

.description-card {
    position: relative;
    z-index: 41;
    left: 10%;
    max-width: 520px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--light-text-color);
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 5px;
}

.header-form {
    position: relative;
    z-index: 41;
    background-color: #ffffff;
    max-width: 90%;
    min-width: 876px;
    margin: 140px auto 20px auto;
    border-radius: 5px;
}

.header-form nav {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.header-form ul {
    display: flex;
    list-style-type: none;
}

.header-form li {
    padding: 0 10px;
}

.header-form nav ul {
    width: 100%;
}

.header-form nav li {
    flex: 1;
    font-size: 1rem;
    padding-top: 6px;
    text-align: center;
    min-width: 146px;
}

.header-form nav li:first-child {
    border-radius: 5px 0 0 0;
}

.header-form nav li:last-child {
    border-radius: 0 5px 0 0;
}

.form-section-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 36px;
}

.active-form-section {
    background-color: #ffffff;
    color: #000000;
}

.inactive-form-section {
    background-color: #3377b6;
    border-left: 1px solid #ffffff;
    color: var(--light-text-color);
}

/* form section */

.form-frame {
    width: 100%;
    padding: 20px;
}

.form-frame form {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.form-frame form label {
    display: inline-block;
}

.form-frame form input {
    display: block;
    height: 46px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 0 5px;
}

.big-input-column {
    min-width: 150px;
    width: 100%;
}

.date-column {
    display: flex;
    min-width: 240px;
    width: 100%;
}

.date-column > div {
    width: 100%;
}

.date-column > div:first-child {
    margin-right: 5px;
    margin-left: 10px;
    width: 100%;
}

.date-column > div:last-child {
    margin-left: 5px;
    margin-right: 10px;
    width: 100%;
}

.big-button {
    padding: 0 20px;
    margin: 0 10px;
    height: 46px;
    width: 180px;
    border-radius: 3px;
    border: none;
    background-color: var(--social-bg-color);
    color: var(--light-text-color);
}

/* ---form section--- */

.featured-header-destination {
    position: relative;
    padding-top: 120px;
    padding-bottom: 6px;
    border-bottom: 10px solid var(--accent-color);
    overflow-y: hidden;
}

.bg {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow-x: hidden;
}

.bg img {
    min-width: 1100px;
    width: 100%;
    height: auto;
}

main {
    margin: 50px auto 0 auto;
    overflow-x: hidden;
}

/* featured section */

.featured-section {
    width: 90%;
    margin: 0 auto;
}

.featured-section header h2 {
    margin-bottom: 20px;
    font-size: 2.25rem;
}
.featured-section header p {
    font-size: 1.125rem;
}

.featured-destinations {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.destination-card {
    position: relative;
    flex: 1;
    min-width: 400px;
    width: 600px;
    margin: 10px;
}

.destination-card p {
    font-size: 1.125rem;
}

.destination-card img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.destination-card-overlay {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    margin-bottom: 5px;
    color: var(--light-text-color);
    border-radius: 0 0 5px 5px;
}

/* --- featured section ---*/

.subscribe-section {
    width: 100%;
    padding: 30px 5%;
    background-color: #01354a;
    color: var(--light-text-color);
}

.subscribe-form-container {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.subscribe-form-container h3 {
    margin-bottom: 20px;
    padding-right: 40px;
}

.subscribe-form-container form {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    flex-wrap: wrap;
}

.subscribe-section form input {
    height: 46px;
    flex: 1;
    border-radius: 3px;
    outline: none;
    border: none;
}

.subscribe-section form button {
    padding: 0 20px;
    margin-left: 10px;
    height: 46px;
    border-radius: 3px;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
}

.social-section {
    width: 100%;
    background-color: #3377b6;
    color: var(--light-text-color);
    padding: 20px 5%;
    margin: 0 auto;
}

.social-section ul {
    list-style-type: none;
}
.social-section .client-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.client-info .column {
    margin: 20px;
    padding: 20px;
}

.client-info h3 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 600;
}
.client-info .column figure {
    width: 100%;
    margin: 0 auto 20px auto;
}
.client-info .column img {
    margin-left: 20%;
    width: 80px;
    height: auto;
}
.main-text-section {
    padding: 40px 5%;
}

.lots-of-links-section {
    padding: 40px 5%;
    background-color: var(--lots-of-links-bg-color);
    color: var(--light-text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.two-columns {
    display: flex;
}
.lots-of-links-section h3 {
    margin-bottom: 20px;
}
.lots-of-links-section ul {
    list-style-type: none;

    margin-bottom: 20px;
}
.lots-of-links-section li {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.two-columns ul:last-child {
    margin-left: 28px;
}

.link-column:not(:first-child) {
    padding-left: 30px;
}

.main-footer {
    background-color: var(--footer-bg-color);
    color: var(--light-text-color);
    border-top: 10px solid var(--accent-color);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.footer-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bank-logos {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.bank-logos img {
    height: 14px;
    max-height: 24px;
    width: auto;
}

.footer-links {
    padding-top: 20px;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 0.8rem;
    margin: 10px 0;
}

.footer-links li {
    padding: 0 5px;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 360px) and (max-width: 909px) {
    /* main menu*/
    html,
    body {
        overflow-x: hidden;
    }
    .description-card {
        position: relative;
        z-index: 41;
        left: 1%;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        color: var(--light-text-color);
        padding: 20px;
        margin-bottom: 100px;
        border-radius: 0;
    }
    .nav-section {
        position: fixed;
        z-index: 42;
        display: flex;
        overflow-x: hidden;
        justify-content: space-between;
        width: 100%;
        color: var(--light-text-color);
        transition: 0.5s;
    }

    .nav-container {
        display: none;
    }

    /*---main menu ---*/
    /* form menu */

    .header-form {
        position: relative;
        z-index: 41;
        background-color: #ffffff;
        max-width: 100%;
        min-width: 100%;
        margin: 140px auto 20px auto;
        border-radius: 0;
    }

    .header-form nav {
        width: 100%;
        border-radius: 0;
        overflow-x: scroll;
    }

    .header-form ul {
        display: flex;
        list-style-type: none;
    }

    .header-form li {
        padding: 0 10px;
    }

    .header-form nav ul {
        width: 100%;

        -webkit-overflow-scrolling: touch;
    }

    .header-form nav li {
        flex: 1;
        font-size: 1rem;
        padding-top: 6px;
        text-align: center;
        min-width: 146px;
    }

    .header-form nav li:first-child {
        border-radius: 0;
    }

    .header-form nav li:last-child {
        border-radius: 0;
    }

    .form-section-button {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        height: 36px;
    }

    .active-form-section {
        background-color: #ffffff;
        color: #000000;
    }

    .inactive-form-section {
        background-color: #3377b6;
        border-left: 1px solid #ffffff;
        color: var(--light-text-color);
    }

    /*---form menu ---*/

    /* form-section */
    .form-frame {
        width: 100%;
        padding: 20px;
    }

    .form-frame form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-frame form label {
        display: inline-block;
    }

    .form-frame form input {
        display: block;
        height: 46px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        padding: 0 5px;
    }

    .big-input-column {
        width: 100%;
    }

    .date-column {
        display: flex;

        width: 100%;
    }

    .date-column > div {
        width: 100%;
    }

    .date-column > div:first-child {
        margin-right: 10px;
        margin-left: 0px;
        width: 100%;
    }

    .date-column > div:last-child {
        margin-left: 10px;
        margin-right: 0px;
        width: 100%;
    }

    .big-button {
        padding: 0 20px;
        margin: 20px 10px;
        height: 46px;
        width: 260px;
        border-radius: 3px;
        border: none;
        background-color: var(--social-bg-color);
        color: var(--light-text-color);
    }

    /* --- form-section ---*/
    .bg {
        width: 100%;
        overflow: hidden;
    }
    .bg img {
        width: 360px;
        height: auto;
    }
    .featured-section {
        width: 98%;
        margin: 0 auto;
    }
    .destination-card {
        flex: 1;
        min-width: 100%;
        width: 100%;
        margin: 0;
    }
    .destination-card img {
        width: 100%;
        height: auto;
    }
}
